<div class="containers">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/3652898/pexels-photo-3652898.jpeg?cs=srgb&dl=pexels-juan-c-palacios-3652898.jpg&fm=jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" ><strong>Apple</strong></h5>
          <a  class="btn btn-primary" (click)="detailsdummy(1750340,'Apple')"><span style="color:black">Nutrition Details</span> </a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/207085/pexels-photo-207085.jpeg?cs=srgb&dl=pexels-pixabay-207085.jpg&fm=jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Orange</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(746771,'Orange')"><span style="color:black">Nutrition Details</span></a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/773253/pexels-photo-773253.jpeg?cs=srgb&dl=pexels-tabitha-mort-773253.jpg&fm=jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Cheese</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(328637,'Cheese')"><span style="color:black">Nutrition Details</span></a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/60021/grapes-wine-fruit-vines-60021.jpeg?cs=srgb&dl=pexels-pixabay-60021.jpg&fm=jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Grapes</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(321360,'Grapes')"><span style="color:black">Nutrition Details</span></a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/57042/pexels-photo-57042.jpeg?cs=srgb&dl=pexels-keegan-evans-57042.jpg&fm=jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Almond</strong> </h5>
          <a href="#" class="btn btn-primary" (click)="detailsdummy(323294,'Almond')"><span style="color:black">Nutrition Details</span></a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/1258264/pexels-photo-1258264.jpeg?cs=srgb&dl=pexels-suzy-hazelwood-1258264.jpg&fm=jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Strawberry</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(747448,'Strawberry')"><span style="color:black">Nutrition Details</span></a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/7745029/pexels-photo-7745029.jpeg?cs=srgb&dl=pexels-erkan-budak-7745029.jpg&fm=jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Tomato</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(1750354,'Tomato')"><span style="color:black">Nutrition Details</span></a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Add to favorites" style="margin-left: 5%;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/7456550/pexels-photo-7456550.jpeg?cs=srgb&dl=pexels-kindel-media-7456550.jpg&fm=jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <strong>Onion</strong> </h5>
          <a  class="btn btn-primary" (click)="detailsdummy(790577,'Onion')"><span style="color:black">Nutrition Details</span></a>
          <button type="button" class="btn btn-outline-primary"  data-toggle="tooltip" data-placement="top"   title="Add to favorites" style="margin-left: 5% ;" (click)="loginalert()"><i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

 